
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* HEADER NAVBAR */
#navbar {
  height: 90px;
  background: rgba(255, 255, 255, 0.786) !important;
  backdrop-filter: blur(10px);
  transition: all 0.8s ease;
}

/* Inner alignment */
#navbar .container {
  justify-content: space-between;
}

/* Logo */
.navbar-brand img {
  width: 165px;
  transition: 0.35s ease;
}

/* Menu spacing */
.header-menu {
  gap: 28px;
}

/* Links */
.nav-link {
  font-size: 16.5px;
  font-weight: 500;
  color: #000 !important;
}

/* Buttons */
.sign-in-btn button {
  font-size: 16px;
  font-weight: 500;
}

/* SCROLL EFFECT */
#navbar.scrolled {
  height: 65px;
  box-shadow: 0px -1px 8px #a9a8a8c9;

}

#navbar.scrolled .navbar-brand img {
  width: 145px;
}

.cu-1{
    padding: 100px 20px;
    max-width: 900px;
    margin: auto;
}

.cu-top{
    text-align: center;
}
.cu-top h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
}

.cu-top p{
    font-size: 19px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 40px;
}


.form-control, .form-select{
    background-color: #f5f6f8;
    border: none;
    padding: 20px 10px;
    font-size: 20px;
    
}
.form-control::placeholder, .form-select::placeholder{
    color: #a29f9f;

}
.form-label{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;

}
.form-select{
    font-size: 18px;
    color: #757575;

}
.form-span{
    font-size: 18px;
    color: #757575;
    margin-bottom: 10px;
    display: block;
}
.submit-btn{
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 600;
}
.cu-down{
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
    a{
        color: #757575;
    }
}
.footer{
    margin: 100px;
}

.footer-top{
      display: flex;
      margin-bottom: 50px;
    }
    .ft-l h1{
      font-size: 40px;
      font-weight: 700;
      padding-right: 50px;
    }
    .ft-r{
      width: 60%;
      input{
        padding: 18px 10px;
        padding-right: 150px;
        border: #757575 1px solid;
        border-radius: 5px;
      }
      
    }
    .ft-btn{
      padding: 18px 40px;
      border: #1677ff 1px solid;
      border-radius: 5px;
      background-color: #1677ff;
      color: #fff;
      font-weight: 600;
      margin-left: 10px;
    }
    .ft-btn:hover{
      background-color: #0f5dcb;
      border: #0f5dcb 1px solid;
    }
     .footer-mid{
       display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
    }
.footer-logo{
    width: 250px;
}
.footer-logo img{
    width: 180px;
}
.footer-link{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.footer-link div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-link h3{
    font-size: 20px;
    font-weight: 700;
}
.footer-link a{
    font-size: 17px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
}
.footer-link a:hover{
    color: #2b2e37;
    transition: 0.6s;
}
.ft-contact{
  h4{
    font-size: 20px;
    font-weight: 600;
  }
  p{
    font-size: 18px;
    color: #757575;
  }
  i{
    font-size: 20px;
    color: #757575;
    margin: 0px 8px;
    cursor: pointer;
}
div{
  flex-direction: row;
}
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding-top: 30px;
}
.footer-bottom p{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}
 .fade_rule {
        height: 1px;
        background-color: #e6e4e4;
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        /* background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) ); */
}

