@media (max-width: 1000px) {
    
 .popup-card img{
        width: 340px;
    }
    /* .logo-top{
        flex-direction: column;

        
    } */
    .logo-top button{
        display: none

    }
    .hero-left-sec h1{
        font-size: 40px;
        /* text-align: ; */
    }
    .hero-left-sec p{
        font-size: 16px;
        /* text-align: center; */
        padding: 5px;
    }
    .hero-left-sec br{
        display: none;
    }

    .hero-left-sec button{
        width: 180px;
        font-size: 15px;
    }
    .hero-left-sec p:last-child{
        font-size: 15px;
    }
    .container img{
        width: 380px;
    }
    .hero-bg{
        min-height: min-content;
        padding: 120px 0px;
    }

      .open-theme-btn{
        top: 10%;
    }
    .engagement-sec{
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        }
    .engagement-right{
        width: 70%;
        gap: 0;
    }
    .engagement-right h1{
        font-size: 30px;
    }
    .engagement-right p{
        font-size: 14px;
    }
    .engagement-right h3{
        font-size: 20px;
    }
    .engagement-list li{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .engagement-left img{
        width: 100%;
    }
    .main-4{
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        }
        .main-4l{
        width: 70%;
        gap: 0;
        line-height: 25px;
        }
    .main-4l h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .main-4l p{
        font-size: 14px;
    }
    .main-4-list li{
        font-size: 12px;
        margin-bottom: 0px;
    }

    .main-4r img{
        width: 100%;
    }
    .main-5-head h1{
        font-size: 32px;
        padding: 0 80px;
    }
    .main-5-head p{
        font-size: 16px;
    }
        .main-5-img{
        width: 80%;
        margin: 25px 100px;
    }
    .main-5-img1 h2, .main-5-img2 h2{
        font-size: 20px;
    }
    .main-5-img1 p, .main-5-img2 p{
        font-size: 14px;
    }
    .main-5-img1, .main-5-img2{
        padding: 25px;
    }
    .main-5-stats{
        margin: 100px;
        text-align: center;
        align-items: center;
        gap: 80px;
    }
    .main-5-stats h1{
        font-size: 32px;
    }
    .main-5-stats p{
        font-size: 16px;
    }
    .main-5-stats div{
        flex-direction: column;
        gap: 2px;
    }
    .main-6{
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        
    }
    .main-6l img{
        width: 100%;
    }
    .main-6r{
        width: 70%;
        gap: 0;
        line-height: 23px;
    }
    .main-6-list li {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .main-6r h2{
        font-size: 20px;
    }
    .main-6r p{
        font-size: 14px;
    }
    .main-7{
        gap: 10px;
        justify-content: space-around;
        align-items: center;
    }
    .main-7l{
        width: 70%;
        gap: 0;
        line-height: 23px;
    }
    .main-7l h1{
        font-size: 28px;
    }
    .main-7l p{
        font-size: 14px;
    }
    .main-7-list li{
        font-size: 14px;
    }
    .main-7r div{
        width: 180px;
        padding: 20px;
    }
    .main-7r h3{
        font-size: 18px;
    }
    .main-7r p{
        font-size: 12px;
    }
    .main-7r i{
        font-size: 30px;
    }
    .main-8{
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        
    }
    .main-8l img{
        width: 100%;
    }
    .main-8r{
        width: 70%;
        gap: 0;
        line-height: 23px;
    }
    .main-8-list li {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .main-8r h1{
        font-size: 20px;
    }
    .main-9{
        width: 100%;
        padding-top: 70px;
        min-height: 700px;
    }
    .main-9-head h1{
        font-size: 32px;
    }
    .main-9-head p{
        font-size: 16px;
    }
    .main-11-top h3{
        font-size: 32px;
    }
    .main-11-top p{
        font-size: 16px;
    }
    .main-11-card h3{
        font-size: 18px;
    }
    .main-11-card p{
        font-size: 14px;
    }
    .main-13-top h1{
        font-size: 35px;
    }
    .main-13-top p{
        font-size: 16px;
    }
    .main-14{
        gap: 0;
        justify-content: space-around;
        /* margin: 50px 100px; */
    }
    .main-13-list{
        width: 80%;
    }
    .main-13-list h3{
        font-size: 20px;
    }
    .main-13-list p{
        font-size: 14px;
        margin: 0%;
    }
    .count{
        gap: 2px;
        margin-top: 15px;
    }
    .count button{
        font-size: 10px;
        padding: 5px 10px;
    }
    .main-14l{
        width: 150%;
    }
    .main-14r{
        gap: 10px;
        justify-content: center;
    }
    .main-15-top h1{
        font-size: 35px;
    }
    .main-15-top p{
        font-size: 16px;
    }
    .main-16-mid{
        flex-wrap: wrap;
        margin: 20px;
    }
    .Integrations{
        width: 80px;
    }
    .Integration-icon{
        padding: 20px 20px;
    }
    .main-16-top h1{
        font-size: 35px;
    }
    .main-16-top p{
        font-size: 16px;
    }
    .main-17-top h1{
        font-size: 35px;
    }
    .main-17-top p{
        font-size: 16px;
    }
    .main-17-mid{
        flex-direction: column;
    }
    .main-18-div{
        padding: 20px 160px;
    }
    .main-18-div h1 {
        font-size: 35px;
    }
    
    

}






@media (max-width: 600px) {
    #themeOffcanvas{
        display: none;
    }
    .open-theme-btn{
        display: none;
    }
    .hero-bg-l{
        flex-direction: column;
    }
    .logo-top button{
        display: none

    }
    .popup-card img{
        width: 340px;
    }
    .hero-left-sec h1{
        font-size: 30px;
        text-align: center;
    }
    .hero-left-sec p{
        font-size: 19px;
        text-align: center;
        padding: 5px;
    }
    .hero-left-sec br{
        display: none;
    }
    .hero-left-sec {
        align-items: center;
    }
    .hero-left-sec button{
        width: 200px;
        font-size: 16px;
    }
    .hero-left-sec p:last-child{
        font-size: 15px;
    }
    .container img{
        width: 335px;
    }

    .stgy-sec{
        margin: 20px;
    }

    .stgy-top h1{
        font-size: 28px;
    }
    .stgy-top br{
        display: none;
    }
    .stgy-top p{
        font-size: 18px;
    }
    .stgy-down i{
        font-size: 50px;
        margin: 30px;
    }
    .stgy-down h2{
        font-size: 22px;
        padding: 2px;
    }
    .stgy-down p{
        font-size: 16px;
        margin-bottom: 30px;

    }

    .engagement-sec{
        flex-direction: column;
        margin: 20px;
    }
    .engagement-left img{
        width: 100%;

    }
    .engagement-right h1{
        font-size: 30px;
    }
    .engagement-right br{
        display: none;
    }
    .engagement-right p{
        font-size: 16px;
    }
    .engagement-right p:first-child{
        font-size: 14px;

    }
    .engagement-right h3 {
        font-size: 20px;
    }
    .engagement-list li{
        font-size: 15px;
    }

    .main-4{
        flex-direction: column;
        margin: 10px;
    }
    .main-4l h2{
        font-size: 22px;
    }
    .main-4l p{
        font-size: 16px;
    }

    .main-4r img{
        width: 100%;
    }
    
    .main-5-head{
        margin: 12px;
    }
    .main-5-head br{
        display: none;
    }
    .main-5-head h1{
        font-size: 30px;
        padding: 0 80px;

    }
    .main-5-head p{
        font-size: 16px;
    }
    .main-5-img{
        width: 80%;
        flex-wrap: wrap;
        margin: 25px;
    }
    .main-5-img1, .main-5-img2{
        padding: 25px;
    }
    .main-5-stats{
        flex-direction: column;
        margin: 10px;
        text-align: center;
        align-items: center;
    }
    .main-5-stats h1{
        font-size: 30px;
    }
    .main-5-stats p{
        font-size: 16px;
    }
    .main-5-stats div{
        flex-direction: column;
        gap: 2px;
    }
    .main-6{
        flex-direction: column;
        margin: 10px;
    }
    .main-6l img{
        width: 100%;
    }
    .main-6r h2{
        font-size: 22px;
    }
    .main-6r p{
        font-size: 16px;
    }
   
    .main-6r-btn button{
        padding: 5px 22px;
        font-size: 15px;
    }
    .main-7{
        flex-direction: column;
        margin: 10px;
    }
    .main-7l br{
        display: none;
    }
    .main-7l h1{
        font-size: 25px;
    }
    .main-7l p{
        font-size: 16px;
    }
    .main-7r{
        justify-content: center;
        text-align: center;
    }
    .main-7r div{
        padding: 25px 30px;
    }
    .main-8{
        flex-direction: column;
        margin: 10px;
    }
    .main-8l img{
        width: 100%;
    }
    .main-8r{
        gap: 0px;

    }
    .main-8r h1{
        font-size: 28px;
    }
    .main-9{
        width: 100%;
        padding-top: 55px;
        min-height: 350px;
    }
    .main-9-head h1{
        font-size: 28px;
    }
    .main-9-head p{
        font-size: 16px;
    }
    .main-9-img{
        margin: 0px;
    }
    .play-btn{
        width: 80px;
        height: 80px;
        font-size: 30px;
    }
    .play-btn::before{
    left: 30px;
    top: 15px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 38px solid #fff;
    }
    .main-10{
        margin: 20px;
    }
    .main-10-head p{
        margin-top: 100px;
    }
    .main-11-top{
        margin: 20px;
    }
    .main-11-top h3{
        font-size: 28px;
    }
    .main-11-top p{
        font-size: 16px;
    }   
    .main-11-bottom{
        flex-direction: column;
        margin: 10px;
    }
    .main-11-card{
        width: 100%;
    }
    .main-12{
        flex-direction: column;
        margin: 10px;
    }
    .main-13{
        margin: 20px;
    }
    .main-13-top h1{
        font-size: 28px;
    }
    .main-13-top p{
        font-size: 16px;
    }
    .main-13-top br{
        display: none;
    }
    .main-14{
        margin: 20px;
    }
    .main-14r{
        display: none;
    }
    .main-15-top h1{
        font-size: 28px;
        padding: 20;
    }
    .main-15-mid{
        margin: 50px;
    }
    .client-card{
        margin: 10px;
    }
    .client-slide{
        padding: 10px;
    }
    .client-card p{
        font-size: 12px;
    }
   
    .our-clients{
        flex-direction: column;
    }
    .main-16{
        margin: 20px;
    }
    .main-16-top h1{
        font-size: 28px;
    }
    .main-16-mid{
        flex-wrap: wrap;
    }
    .Integrations{
        width: 100px;
    }
    .Integration-icon{
        width: 100px;
        padding: 30px 30px;
    }
    
    .main-17{
        margin: 20px;
    }
    .main-17-top{
        h1{
            font-size: 28px;
        }
        br{
            display: none;
        }
        p{
            font-size: 16px;
        }
    }
    .main-17-mid{
        flex-direction: column;
        margin: 5px;
    }
    .main-17l-list , .main-17r-list{
        h2{
            font-size: 18px;
            margin: 0;
        }
        p{
            font-size: 14px;
        }
        li{
            font-size: 14px;

        }
    }
    .main-17-bottom{
        h3{
            font-size: 16px;
            padding: 20px;
        }
    }
    .main-18{
        margin: 0px;
        border-radius: 0;
    }
    .main-18-div{
        border-radius: 0;
        width: 100%;

        h1{
            font-size: 28px;
            padding-top: 50px;
        }
        P{
            font-size: 16px;
            padding: 10px;
        }
    }
    .main-18-div p:last-child{
        padding-bottom: 50px;
    }
    .footer{
        margin: 20px;
    }
    .main-18-div{
        padding: 0;
    }
    .footer-link{
        flex-wrap: wrap;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }
}