@media (max-width: 1000px) {
    
 .popup-card img{
        width: 340px;
    }
    /* .logo-top{
        flex-direction: column;

        
    } */
    .logo-top button{
        display: none

    }
    .hero-left-sec h1{
        font-size: 40px;
        /* text-align: ; */
    }
    .hero-left-sec p{
        font-size: 16px;
        /* text-align: center; */
        padding: 5px;
    }
    .hero-left-sec br{
        display: none;
    }

    .hero-left-sec button{
        width: 180px;
        font-size: 15px;
    }
    .hero-left-sec p:last-child{
        font-size: 15px;
    }
    .container img{
        width: 380px;
    }
    .hero-bg{
        min-height: min-content;
        padding: 120px 0px;
    }

      .open-theme-btn{
        top: 10%;
    }
    .engagement-sec{
        flex-direction: column;
    }
    .engagement-left img{
        width: 100%;
    }
}






@media (max-width: 600px) {
    #themeOffcanvas{
        display: none;
    }
    .open-theme-btn{
        display: none;
    }
    .hero-bg-l{
        flex-direction: column;
    }
    .logo-top button{
        display: none

    }
    .popup-card img{
        width: 340px;
    }
    .hero-left-sec h1{
        font-size: 30px;
        text-align: center;
    }
    .hero-left-sec p{
        font-size: 19px;
        text-align: center;
        padding: 5px;
    }
    .hero-left-sec br{
        display: none;
    }
    .hero-left-sec {
        align-items: center;
    }
    .hero-left-sec button{
        width: 200px;
        font-size: 16px;
    }
    .hero-left-sec p:last-child{
        font-size: 15px;
    }
    .container img{
        width: 335px;
    }

    .stgy-sec{
        margin: 20px;
    }

    .stgy-top h1{
        font-size: 28px;
    }
    .stgy-top br{
        display: none;
    }
    .stgy-top p{
        font-size: 18px;
    }
    .stgy-down i{
        font-size: 50px;
        margin: 30px;
    }
    .stgy-down h2{
        font-size: 22px;
        padding: 2px;
    }
    .stgy-down p{
        font-size: 16px;
        margin-bottom: 30px;

    }

    .engagement-sec{
        flex-direction: column;
        margin: 20px;
    }
    .engagement-left img{
        width: 100%;

    }
    .engagement-right h1{
        font-size: 30px;
    }
    .engagement-right p{
        font-size: 16px;
    }
    .engagement-right p:first-child{
        font-size: 14px;

    }
    .engagement-right h3 {
        font-size: 20px;
    }
    .engagement-list li{
        font-size: 15px;
    }

    .main-4{
        flex-direction: column;
        margin: 10px;
    }
    .main-4r img{
        width: 100%;
    }
    .main-5-img{
        width: 100%;
        flex-wrap: wrap;
        margin: 10px;
    }
    .main-5-img1, .main-5-img2{
        padding: 25px;
    }
    .main-5-stats{
        flex-direction: column;
        margin: 10px;
    }
    .main-6{
        flex-direction: column;
        margin: 10px;
    }
    .main-6l img{
        width: 100%;
    }
    .main-7{
        flex-direction: column;
        margin: 10px;
    }
    .main-8{
        flex-direction: column;
        margin: 10px;
    }
    .main-8l img{
        width: 100%;
    }
    .main-9-head h1{
        font-size: 28px;
    }
    .main-9-head p{
        font-size: 16px;
    }
    
}