.navbar-brand img{
    width: 165px;
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.top-nav{
    margin: 0px auto;
    max-width: 1140px;
    padding: 0 15px;
    position: relative;

}
.collapse{
    justify-content: end;
    gap: 50px;
}

.sign-in{
    background: none;
    color: black;
    border: none;
    font-weight: 500;
    font-size: 17.5px;
}
.sign-up{
    font-weight: 500;
    font-size: 17.5px;
    padding: 7px 22px;
    background-color: #fa437f;
    border-radius: 5px;
    border: none;
    color: #fff;

}
.sign-up:hover{
    background-color: transparent;
    border: #f5f5f5 solid 1px;
}

.nav-link{
    font-size: 17.5px;
    font-weight: 600;
    margin: 0 7px;
    display: block;
    padding: 10px 15px;
    color: #fff;
}
.navbar{
        --bs-navbar-padding-y: 0.9rem;
         background-color: rgba(255, 255, 255, 0.692);
    }
    .navbar-nav{
        gap: 10px;
    }

    /* HERO BACKGROUND */
.hero-bg {
  background: 
    url("images/hero-1.jpg") center/cover no-repeat fixed;

  min-height: 100vh;
  padding-top: 120px;
}

/* TRANSPARENT NAVBAR */
.custom-navbar {
  background: transparent;
  transition: all 0.8s ease;
  padding: 30px 0;
}
.custom-navbar.scrolled .nav-link {
  color: #000 !important;
}
.custom-navbar.scrolled .sign-in {
  color: #000 !important;
}

/* White links */
.nav-link {
  font-weight: 500;
  color: #fff;
}
.nav-link:hover{
    color: #fff;
}



/* Navbar on scroll  */
.custom-navbar.scrolled {
    padding: 1px 0;
    background-color: rgba(255, 255, 255, 0.752);
    backdrop-filter: blur(15px);

}
.navbar-brand{
    display: flex;
}
.logo {
  width: 160px;
    transition: all 0.8s ease;

}

.dark-logo {
  display: none;
  padding: 10px 0px;
}

.custom-navbar.scrolled .white-logo {
  display: none;
}

.custom-navbar.scrolled .dark-logo {
  display: block;
  align-items: center;
}

.hero-bg-l{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-girl{
    width: auto;
}
.hero-left-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-left-sec h1{
    font-size: 70px;
    font-weight: 700;
}
.hero-left-sec p{
    font-size: 22px;
    font-weight: 500;
}
.hero-left-sec p:last-child{
    font-size: 18px;
    font-weight: 500;
}
.hero-left-sec button{
    width: 38%;
    background: #fa437f;
    padding: 14px 5px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 17.5px;
}
.hero-left-sec button:hover{
    background-color: transparent;
    border: #f5f5f5 solid 1px;
}
.container img{
    width: 630px;
}
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Smooth animation */
.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s ease;
  font-size: 17px;
  padding: 10px 0;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #fa437f;
    font-weight: 600;
}

.mega-menu {
  width: 800px;
  left: -300%;
  transform: translateY(50px);
  /* border-radius: 12px; */
  transition: all 0.2s ease;
    font-size: 17px;

}

.mega-menu .dropdown-item {
  padding: 8px 0;
  font-weight: 500;
  
}

.mega-menu .dropdown-item:hover {
    background: #f5f5f5;
    color: #fa437f;
    font-weight: 700;
}

