.navbar-brand img{
    width: 165px;
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.top-nav{
    margin: 0px auto;
    max-width: 1140px;
    padding: 0 15px;
    position: relative;

}
.collapse{
    justify-content: end;
    gap: 50px;
}

.sign-in{
    background: none;
    color: black;
    border: none;
    font-weight: 500;
    font-size: 17.5px;
}
.sign-up{
    font-weight: 500;
    font-size: 17.5px;
    padding: 7px 22px;
    background-color: #fa437f;
    border-radius: 5px;
    border: none;
    color: #fff;

}
.sign-up:hover{
    background-color: transparent;
    border: #000000 solid 1px;
    color: #000;
    transition: 0.6s;
}

.nav-link{
    font-size: 17.5px;
    font-weight: 600;
    margin: 0 7px;
    display: block;
    padding: 10px 15px;
    color: #fff;
}
.navbar{
        --bs-navbar-padding-y: 0.9rem;
         background-color: rgba(255, 255, 255, 0.692);

    }
    .navbar-nav{
        gap: 10px;
    }

    /* HERO BACKGROUND */
.hero-bg {
  background: 
    url("images/hero-1.jpg") center/cover no-repeat fixed;

  min-height: 100vh;
  padding-top: 120px;
}

/* TRANSPARENT NAVBAR */
.custom-navbar {
  background: transparent;
  transition: all 0.8s ease;
  padding: 30px 0;
  
}
.custom-navbar.scrolled .nav-link {
  color: #000 !important;
}
.custom-navbar.scrolled .sign-in {
  color: #000 !important;
}

/* White links */
.nav-link {
  font-weight: 500;
  color: #fff;
}
.nav-link:hover{
    color: #fff;
}



/* Navbar on scroll  */
.custom-navbar.scrolled {
    padding: 1px 0;
    background-color: rgba(255, 255, 255, 0.752);
    backdrop-filter: blur(15px);

}
.navbar-brand{
    display: flex;
}
.logo {
  width: 160px;
    transition: all 0.8s ease;

}

.dark-logo {
  display: none;
  padding: 10px 0px;
}

.custom-navbar.scrolled .white-logo {
  display: none;
}
.custom-navbar.scrolled .pink-logo {
  display: none;
}

.custom-navbar.scrolled .dark-logo {
  display: block;
  align-items: center;
}


.white-logo { display: block; }
.dark-logo { display: none; }
.pink-logo { display: none; }

/* Scroll = Dark Logo */
.custom-navbar.scrolled .white-logo { display: none; }
.custom-navbar.scrolled .dark-logo { display: block; }

/* Dark Mode = Pink-White Logo */
body.dark-mode .white-logo,
body.dark-mode .dark-logo {
  display: none;
}

body.dark-mode .pink-logo {
  display: block;
}




.hero-bg-l{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-girl{
    width: auto;
}
.hero-left-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-left-sec h1{
    font-size: 70px;
    font-weight: 700;
}
.hero-left-sec p{
    font-size: 22px;
    font-weight: 500;
}
.hero-left-sec p:last-child{
    font-size: 18px;
    font-weight: 500;
}
.hero-left-sec button{
    width: 38%;
    background: #fa437f;
    padding: 14px 5px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 17.5px;
}
.hero-left-sec button:hover{
    background-color: transparent;
    border: #f5f5f5 solid 1px;
}
.container img{
    width: 630px;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s ease;
  font-size: 17px;
  padding: 10px 0;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #fa437f;
    font-weight: 600;
}

.mega-menu {
  width: 800px;
  left: -300%;
  transform: translateY(50px);
  transition: all 0.2s ease;
    font-size: 17px;

}

.mega-menu .dropdown-item {
  padding: 8px 0;
  font-weight: 500;
  
}

.mega-menu .dropdown-item:hover {
    background: #f5f5f5;
    color: #fa437f;
    font-weight: 700;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-card {
  width: 63%;
  max-width: 700px;
  position: relative;
}
.popup-card img{
    border-radius: 10px;
    width: 700px;
}

.popup-card h1 span {
  font-size: 48px;
  font-weight: bold;
}

.cta-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff4f7b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: white;
  border: none;
  font-size: 17px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px 7px;
} 



/* Right Sidebar Toggle */
.theme-sidebar:hover {
  background: #333;
}

/* Dark Navbar Style */
.custom-navbar.dark-nav {
  background-color: #1e1e1e !important;
}

.custom-navbar.dark-nav .nav-link,
.custom-navbar.dark-nav .sign-in {
  color: #fff !important;
}


body.dark-mode .nav-link {
  color: #fff !important;
}

.open-theme-btn {
  position: fixed;
  top: 19%;
  right: 0;
  background: #ef2853;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 8px 0 0 8px;
  font-size: 22px;
  z-index: 9999;
  transition: right 0.1s ease;
}
.open-theme-btn.active {
  right: 260px;   /* offcanvas width */
}
.theme-btn img{
    background-color: #fff;
    color: #fff
}

#themeOffcanvas {
  width: 260px;
    height: 70vh;
    top: 18.5%;
    background-color: #2b2e37;
    color: #fff;
    text-align: center;


}
#themeOffcanvas h3{
    font-size: 20px;
    font-weight: 600;
}

.btn-dark{
    border: #fff solid 2px;
    color: #fff;
    background-color: #2b2e37;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 20px;
    margin: 20px;
    
}
.btn-reset{
    border: none;
    color: #fff;
    background-color:#fa437f;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    margin: 20px;
    
}
.clr-img{
    display: flex;
    flex-wrap:wrap ;
    gap: 10px;
    width: 140px;
    margin: 20px;
}
.clr-img img{
    border-radius: 5px;
    width: 50px;
}

.stgy-sec{
  margin: 100px;
}
.stgy-top{
  text-align: center;
  margin: 80px 0px;
}
.stgy-top h1{
  font-size: 60px;
  font-weight: 700;
}
.stgy-top p{
  font-size: 25px;
  font-weight: 500;
  color: #757575;
  margin-top: 25px;
}
.stgy-down{
  display: flex;
  /* gap: 20px; */
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

}
.stgy-down i{
  font-size: 60px;
  margin-bottom: 30px;
}

.stgy-down h2{
  font-size: 25px;
  font-weight: 600;
  padding: 18px;
}
.stgy-down p{
  font-size: 18px;
  font-weight: 500;
    color: #757575;

}


.engagement-sec{
  display: flex;
  gap: 50px;
  margin: 100px;
}
.engagement-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  line-height: 30px;
}
.engagement-right h1{
  font-size: 53px;
  font-weight: 700;
}
.engagement-right p{
  font-size: 17px;
  font-weight: 500;
  color: #757575;

}
.engagement-right p:first-child{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #757575;

}
.engagement-right h3{
  font-size: 28px;
  font-weight: 700;

}
.engagement-list li{
  font-size: 17px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
}

.main-4{
  display: flex;
  gap: 50px;
  margin: 100px;
}
.main-4l{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  line-height: 30px;
}
.main-4l h2{
  font-size: 28px;
  font-weight: 700;

}
.main-4l p{
  font-size: 17px;
  font-weight: 500;
  color: #757575;

}
.main-4-list li{
  font-size: 17px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
}


.main-5-head{
  text-align: center;
}
.main-5-head h1{
  font-size: 56px;
  font-weight: 700;

}
.main-5-head p{
  font-size: 26px;
  font-weight: 500;
  color: #757575;
  margin: 20px;
}

.main-5-img{
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  margin: 80px 110px;
}
.main-5-img1, .main-5-img2{
  background-color: #f8f9fe;
  border-radius: 20px;
  padding: 60px;
}

.f-05img img{
  width: 100%;
  padding: 0px 20px;
}
.f-06img img{
  width: 100%;
  padding: 0px 20px;
}
.main-5-img1 h2, .main-5-img2 h2{
  font-size: 30px;
  font-weight: 650;
  margin: 20px 0px;
}
.main-5-img1 p, .main-5-img2 p{
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
}

.main-5-stats{
  display: flex;
  justify-content: space-evenly;
  margin: 0px 80px;
}
.main-5-stats div{
  display: flex;
  width: 380px;
  gap: 30px;
}
.stats1 h1, .stats2 h1, .stats3 h1{
  font-size: 52px;
  font-weight: 700;

}
.stats1 p, .stats2 p, .stats3 p{
  font-size: 20px;
  font-weight: 500;
  color: #757575;

}

.main-6{
  display: flex;
  gap: 50px;
  margin: 100px;
}

.main-6r{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  line-height: 30px;
}
.main-6r h2{
  font-size: 28px;
  font-weight: 700;

}
.main-6r p{
  font-size: 17px;
  font-weight: 500;
  color: #757575;

}
.main-6-list li{
  font-size: 17px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
}

 .main-6r button{
  background-color: #fff;
  border: #000 solid 2px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  padding: 8px 25px;
 }

 .main-6r button:hover{
   border: #fa437f solid 2px;
  background-color: #fa437f;
  color: #fff;
  transition: 0.6s;
 }

 .main-7{
  display: flex;
  gap: 50px;
  margin: 100px;
 }

 .main-7l{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  line-height: 30px;
 }
  .main-7l h1{
    font-size: 50px;
    font-weight: 700;
  
  }
  .main-7l p{
    font-size: 17px;
    font-weight: 600;
    color: #757575;
  }
  .main-7l p:first-child{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #757575;
  
  }
  .main-7-list li{
    font-size: 17px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 10px;
  }
  .main-7-list li::marker {
  content: "✔  "; 
  color: hotpink; 
  font-size: 20px; 
}

 
 .main-7r{
  display: flex;
  flex-wrap: wrap;
  gap: 30px
  ;
 }
 .main-7r div{
  border-radius: 15px;
  box-shadow: #c9c6c671 1px 1px 5px;
  width: 320px;
  padding: 35px;
 }
 .main-7r i{
  font-size: 50px;
  margin-bottom: 20px;
}
 .main-7r h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
 }
 .main-7r p{
  font-size: 17px;
  font-weight: 500;
  color: #757575;

 }
 .main-8 {
  display: flex;
  gap: 50px;
  margin: 100px;
 }
 .main-8r{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  line-height: 30px;
 }
  .main-8r h1{
    font-size: 50px;
    font-weight: 700;
  
  }
  .main-8r p{
    font-size: 17px;
    font-weight: 600;
    color: #757575;
  }
  .main-8r p:first-child{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #757575;
  
  }
  .main-8r-list li{
    font-size: 17px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 10px;
  }
  .main-9{
    background-image: url(images/bg-img-09.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
    padding-top: 120px;
    text-align: center;  
    position: relative; 

  }
  .main-9-head h1{
    font-size: 55px;
    font-weight: 700;
  }
  .main-9-head p{
    font-size: 25px;
    font-weight: 500;
    margin: 20px;
    color: #757575
  }
  .main-9-img{
    margin: 80px 0px;
    position: absolute;
    width: 100%;
    
  }
  .main-9-img img{
    width: 85%;
  }
  
  .play-btn {
  width: 120px;
  height: 120px;
  background: #ff4f7b;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-btn::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 35px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 38px solid #fff;
}


.main-10{
  text-align: center;
  margin: 200px 100px;
}
.main-10-head{
  font-size: 20px;
  font-weight: 700;
  margin: 50px 20px;
}
.main-10-slider{
      position: relative;
      height: 100%;
    }

    .main-10-slider{
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover;
    }